$scrollBarHeight: 0px!important;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

.boardNavbar{
    display:flex;
    margin: 10px;
}

.navdetails{
    margin-right: 15px;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 3px;
    cursor: none;
}
.navdetails div{
    background-color: rgba(255,255,255,0.5);
    padding: 0px 8px;
    font-size: 19px;
}

/* for menu */
.button{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: lightcoral;
}
.button div:hover{
    background-color: rgba(255,255,255,0.8);
    color: lightcoral;
    border-radius: 4px;
}
.menu{
    width:15.4vw;
    position:absolute;
    right: 0px;
    border: 1px solid white;
}

/* for body of board */
.boardcont{
    margin: 0px;
    display: flex;
}
.boardcont div{
    margin: 0px;
}

.mainconts{
  border: 1px solid darksalmon;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 8px;
  width: 84vw;
  height: 760px!important;
}

.mainconts .child{
  width: 272px;
  margin: 0px 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow-y: auto;
}

.list{
  background-color: #ebecf0;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: normal;
    border: 1px solid rgba(0,0,0,0.3);
}

.openbutton{
  background-color:rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 2px 7px;
  align-items:center;
  display: flex;
  color: white;
  cursor: pointer;
}
.openbutton p{
  height:fit-content;
  margin: 4px 3px;
}
.openbutton:hover{
  background-color:rgba(0,0,0,0.3);
}

.addListform{
  margin: 7px auto;
}
.addListform input,.addcardform input{
  padding:4px 7px;
  margin-bottom: 4px;
  border: 1px solid rgb(240, 128, 128);
  border-radius: 4px;
  outline: none;
  width: 15.8rem;
}
.addListform div,.addcardform div{
  display: flex;  
  align-items:center;
  margin-right: 10px;
}
.addbutton{
  padding:4px 9px;
  margin-right: 10px;
  border-radius: 6px;
  background-color:rgb(240, 128, 128);
  opacity: 0.9;
  z-index: 1000;
  border: none;
  cursor: pointer;
  color: white;
  width: fit-content;
}
.addbutton:hover{
  opacity: 1  ;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0);
  transition: 0.3s;
}
.closebutton{
  color:rgb(173, 172, 172);
  cursor: pointer;
  width:fit-content;
}
.closebutton:hover{
  color:black;
}
.listmenu{
  position:absolute;
  right:10px;
  cursor:pointer;
  color: rgba(0, 0, 0,0.4 );
  border-radius: 20px;
}
.listmenu:hover{
  background-color: lightgray;
  color: black;
}
.items{
  margin: 4px auto;
  padding: 6px 10px;
}
.items .listtitle{
  padding: 0px 5px;
  margin-top: 3px;
}
.items .cards{
  padding: 5px 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-radius: 6px;
  cursor: pointer;
}
.items .cards:hover{
  background-color: lightgray;
}
.items p{
  margin: 0px;
}
.items .openbutton{
  background-color: transparent;
  color: rgb(173, 172, 172);
  transition: 0.3s;
}
.items .openbutton:hover{
  background-color: lightgray;
  color: black;
}

// for discription in cards
.cardDiscription{
  position: absolute;
  top: 25px;
  padding: 40px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1000;
  
}
.discriptioncont{
  height: 800px;
  overflow-y: auto;
  width: 80vh;
  padding: 40px;
  margin: auto;
  border-radius: 6px;
  background-color:#f4f5f7;
}
.cardName b{
  margin: 10px;
}
.cardName p{
  margin-left: 40px;
  margin-top: 3px;
  font-size: 14px;
  color:rgb(118, 118, 118);
}
.cardName span{
  margin-left: 3px;
  text-decoration: underline;
}
.cardName span:hover{
  color:black;
  cursor:pointer;
}
.des{
  margin-top: 20px;
  margin-right: 0px;
  // border: 1px solid darksalmon;
  // position: absolute;
  width:fit-content;
  top: 9rem;
}
.dis b{
  margin-left: 40px;
}
.disInput{
  padding: 7px 15px;
  margin-left: 38px!important;
  border: none;
  background-color:rgba(9,30,66,.04);
  outline-color: darksalmon;
}
.disInput:focus{
  background-color:white;
}
.disbutton{
  margin:10px 40px;
  background-color: darksalmon;
  width:fit-content;
  padding: 5px 10px;
  color:white;
  border: 2px solid #e9967a;
  cursor: pointer;
  border-radius: 4px;
}
.disbutton:hover{
  background-color:white;
  color:darksalmon;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0);
}
.deleteCard{
  position: absolute;
  bottom:70px;
  right:70px;
  background-color: rgba(255, 0, 0,0.5);
  padding: 4px 8px;
  color:white;
  cursor: pointer;
  border-radius: 4px;
}
.deleteCard:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0);
  background-color:rgba(255, 0, 0,0.7);
}
.closeDis{
  position: absolute;
  right: 55px;
  top: 55px;
}
.checklisttitilecont{
  position: absolute;
  top: 145px;
  right: 3rem;
  background-color: white;
  padding: 0px 10px;
}
.checklisttitilecont .titleinputhead {
  margin: 10px auto;
  text-align: center;
}
.checklisttitilecont .titleinputhead p{
  margin-bottom: 0px;
}
.checklisttitilecont .titleinputhead span{
  position: absolute;
  right: 2px;
  color: lightgray;
  cursor: pointer;
}
.checklisttitilecont .titleinputhead span:hover{
  color: black;
}
.checklisttitilecont .titleinputcont p{
  margin-top: 10px; 
  margin-bottom: 2px;
}
.checklisttitilecont .titleinputcont input{
  margin-left: 0px;
  padding: 5px 10px;
  border: 1px solid darksalmon;
  border-radius: 5px;
  outline: none;
}
.checklistbutton,.moveoptioncont{
  position: absolute;
  right: 70px;
  top: 7rem;
  cursor: pointer;
  background-color:rgba(9,30,66,.04);
  padding:5px 10px;
}
.checklistdelete{
  cursor: pointer;
  background-color:rgba(9,30,66,.04);
  padding:5px 10px;
  position: absolute;
  right: 10rem;
}
.checklistbutton:hover,.checklistdelete:hover,.moveoptioncont:hover{
  background-color:lightgray;
}
.checklisthead .headicon{
  margin-right: 0.8rem;
}
.checklisthead{
  position: relative;
}
.checklistmeter{
  margin-top: 10px;
  font-size: 14px;
  display:flex;
}
.checklistmeter span{
  padding: 4px 13.8rem;
  background-color:rgba(9,30,66,.04);
  height:2px;
  margin-left: 20px;
  margin-top: 8px;
  border-radius: 10px;
}
.checklistadd{
  margin-left: 40px;
}
.checklistinput,.commentinput{
  padding: 4px 7px;
  margin-bottom: 4px;
  border: 1px solid lightcoral;
  border-radius: 4px;
  outline: none;
  width: 27.7rem;
}
#buttonforadd{
  margin-left: 40px;
  background-color:rgba(9,30,66,.04);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
}
#buttonforadd:hover{
  background-color:lightgray;
}
.itemaddbutton{
  margin-left: 4px;
}
.commenthead span{
  margin-left: 11px;
}
.commentinput,.commentbutton{
  margin-left: 40px;
}
.commentcont{
  margin-left: 40px;
  width:70%;
  position: relative;
}
.comments div{
  margin: 5px;
}
.commenttime{
  font-size: 12px;
  margin-left: 10px;
  color: rgb(68, 68, 68);
}
.commentDelete{
  font-size: 12px;
  margin-left: 10px;
  color: rgb(68, 68, 68);
  cursor: pointer;
}
.commentDelete:hover{
  color:black;
  text-decoration: underline;
}
.commentcard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 5px 10px;
}
.moveoptioncont{
  top: 10rem;
  width: 111px;
}
.moveoptioncont span{
  margin-right: 10px;
}
.moveoption{
  position: absolute;
  top: 12rem;
  right: 3rem;
  background-color: white;
  padding:10px;
  width: 15rem;
}
.moveoptionhead{
  margin: 0px auto 3px auto;
  text-align: center;
}
.moveoptionhead p{
  margin-bottom: 0px;
}
.moveoptionhead span{
  position: absolute;
  right: 2px;
  color: lightgray;
  cursor: pointer;
}
.moveoptionhead span:hover{
  color: black;
}
.moveoptionbody p{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 4px;
}
.moveoptionbody select{
  width: 98%;
  margin-bottom: 10px;
  padding:5px 10px;
  border: 1px solid darksalmon;
  background-color: white;
  outline: none;
  border-radius: 4px;
}

// for list menu cont 
.listmencont{
  position: absolute;
  color:black;
  z-index: 1100;
  
  background-color:#f4f5f7;
}
.listmencont .head{
  text-align:center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  padding: 13px 10px;
}
.listmencont .head p{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px;
}
.closem{
  background-color: white;
  color: black;
}
.listmencont ul{
  list-style: none;
  padding-left: 0px;
}
.listmencont li{
  margin: 10px auto;
  cursor: pointer;
  padding: 8px 14px;
  width: 100%;
}
.listmencont li:hover{
  background-color: rgba(9,30,66,.04);
}

.hide{
  display: none;
}